* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.navbar_a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.navbar {
  margin-top: 0%;
  padding-top: 0%;
  width: 100%;
  height: 7%;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  background-color: black;
  z-index: 1;
  border-bottom: 2px solid white;
}

.navbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-brand {
  padding: 1%;
  padding-left: 3%;
  font-size: 125%;
}
.navbar-contents {
  width: 75%;
  display: flex;
  justify-content: space-around;
}
.navbar-element {
  padding: 0.75%;
  margin: 0.75%;
}
.navbar_bookaroom {
  border: 1px solid white;
}

.navbar_a:hover {
  color: rgb(202, 202, 202);
}

.navbar-element:hover {
  opacity: 0.5;
}
.navbar-element:active {
  opacity: 0.5;
}
.navbar_bookaroom:hover {
  opacity: 1;
  background-color: white;
}
.navbar_bookaroom:hover a {
  color: black;
}
