<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../static/stylesheet/external-of-checkout.css">
    </head>

    <body>
            
            
            <h2 class="heading">book a room</h2><br>
             
            <div class="congo">
                <h1 class="congoform">Congratulations! </h1>
                <h4 class="messageform">Hitesh Daga, your reservation was placed.</h4><br>
            </div>

            <hr class="separator">

            <div class="check_out_container2">
                <div class="child1">
                    <div class="reservation-number">
                    Once your reservation is confirmed, you will get an email.
                    </div>
                    <div class ="details-in-depth">
                        <br>
                        <br>
                        Check-In Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;03:00PM
                        <br>
                        Check-Out Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12:00PM
                        <br>
                        <br>
                        <h4 class="messageform">Hotel Details</h4>
                        
                        Phone Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91-9876789712<br>
                        Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ahvresortsglobal08@gmail.com<br>
                        Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;42 Malabar Lane, Delhi, India, 711345
                    </div>
                </div>
                
                <div class="summary2">
                    <h3 class="heading">Order Summary</h3>
                    <hr class="divider">
                    <img src="../static/images/room1.jpeg" class="checkout_img"/>
                    <table class="checkout_summary">
                        <tr>
                            <td>Room Type</td>
                            <td><b>Junior Suite</b></td>
                        </tr>
                        <tr>
                            <td>Dates</td>
                            <td><b>Sep 30 - Oct 05, 2021</b></td>
                        </tr>
                        <tr>
                            <td>No. of Nights</td>
                            <td><b>5</b></td>
                        </tr>
                        <tr>
                            <td>Guests</td>
                            <td><b>1 Adults</b></td>
                        </tr>
                    </table>

                    <hr class="divider">

                    <table class="checkout_summary">
                        <tr>
                            <td>Subtotal</td>
                            <td style="text-align: right;"><b>Rs. 15000</b></td>
                        </tr>
                        <tr>
                            <td>Tax (21%)</td>
                            <td style="text-align: right;"><b>Rs. 3150</b></td>
                        </tr>
                    </table>

                    <hr class="divider">

                    <table class="checkout_summary">
                        <th>Total</th>
                        <th style="text-align: right;">Rs. 18150</th>
                    </table>
                </div>
            </div>
            


        <div class="contact">
            <h2 class="heading">CONTACT US</h2>
            <div class="con_info">
                <p><a href="mailto:info@mysite.com" style="color: rgb(73, 72, 72);">info@mysite.com</a> &nbsp; &nbsp; &nbsp;/&nbsp; &nbsp; &nbsp;Vellore Institute of Technology&nbsp; &nbsp; &nbsp;/&nbsp; &nbsp; &nbsp;Tel: +91 9876543210</p>
            </div>

            <div class="feedback">
                <form name='feedback' action='POST'>
                    <table>
                        <tr>
                            <td><label for='name'>Enter your Name</label></td>
                            <td><label for='email'>Enter your Email</label></td>
                        </tr>
                        <tr>
                            <td><input type="text" placeholder="Name" required id='name'/></td>
                            <td><input type="email" placeholder="Email" required id='email'/></td>
                        </tr>
                        <tr>
                            <td><label for='sub'>Enter the Subject</label></td>
                        </tr>
                        <tr>
                            <td colspan=2><input type="text" placeholder="Subject" required id='sub'/></td>
                        </tr>
                        <tr>
                            <td><label for='msg'>Enter the Message</label></td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea rows=10 cols=33 id='msg' required placeholder="Message"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan=2><input type="submit" id='submit'/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div id="googleMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.001696423075!2d79.15722781480746!3d12.97174299085577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad479f0ccbe067%3A0xfef222e5f36ecdeb!2sVellore%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1632491651180!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="footer" style="padding-top: 1%;">
            <p style="padding-top: 1%;">Made with &#10084; by Aviral Jain, Hitesh Daga and Vidipt Khetriwal</p>
        </div>
    </body>